[Desktop Entry]
Type=Application
Name=Kugo
GenericName=Hugo Site Manager
Comment=Hugo front-end for managing static sites
Exec=/home/tim/Projects/Main/Kugo/run_kugo.sh
Icon=kugo
Categories=Development;TextEditor;Publishing;
Keywords=hugo;blog;markdown;cms;static;site;
StartupNotify=true
StartupWMClass=Kugo
Terminal=false
MimeType=text/markdown;text/plain;
Keywords=hugo;blog;markdown;cms;
StartupNotify=true
Terminal=false
